<div style='background-color: #e3a8b6;
    border: 0.5em solid black;
    border-radius: 0.5em;
    padding: 1em;'>
    <h2>Exercice 5-01</h2>
    <h1>Tableaux définis en extension</h1>
</div>

**(1)** Donner la définition en extension d'un tableau `mois` contenant les noms des six premiers mois de l'année (sous forme de chaînes de caractères).

In [ ]:
mois = ["janvier", "février", "mars", "avril", "mai", "juin"]

**(2)** Après avoir exécuté la cellule suivante, expliquer quel est le rôle de la fonction `len`.

In [ ]:
print(len(mois))

La fonction `len` renvoie la longueur du tableau, c'est-à-dire le nombre d'élements contenus dans le tableau.

**(3)** Écrire des lignes de code permettant d'afficher à l'écran les valeurs présentes dans le tableau `mois` aux indices compris entre `2` et `4`.

In [ ]:
for k in range(2, 5):
    print(mois[k])

**(4)** Expliquer l'erreur obtenue en exécutant la cellule suivante :

In [ ]:
mois[6] = "juillet"

Le tableau `moins` contient six valeurs, dont les indices sont compris entre `0` et `5`. Il n'existe pas de valeur d'indice `6`, d'où l'erreur obtenue.

**(5)** Écrire des lignes de code permettant à un utilisateur de remplacer (en le saisissant au clavier) dans le tableau `mois` le nom de chaque mois par son équivalent en anglais.

In [ ]:
for k in range(len(mois)):
    mois[k] = input(f"Veuillez traduire en anglais le mot {mois[k]} : ")

In [ ]:
mois