<div style='background-color: #e3a8b6;
    border: 0.5em solid black;
    border-radius: 0.5em;
    padding: 1em;'>
    <h2>Exercice 1-05</h2>
    <h1>Différentes utilisations de <code>range</code></h1>
</div>

**(1)** Après avoir exécuté les cellules suivantes, expliquer dans quel cas utiliser `range(...)` avec un, deux ou trois arguments.

À l'intérieur du `print`, l'argument optionnel `end=" "` permet de remplacer après chaque affichage un saut de ligne par une espace.

***Exemples avec un argument***

In [2]:
for nombre in range(10):
    print(nombre, end=" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
for nombre in range(40):
    print(nombre, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

***Exemples avec deux arguments***

In [5]:
for nombre in range(5, 20):
    print(nombre, end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [6]:
for nombre in range(-10, 10):
    print(nombre, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

***Exemples avec trois arguments***

In [10]:
for nombre in range(3, 33, 5):
    print(nombre, end=" ")

3 8 13 18 23 28

In [11]:
for nombre in range(10, 0, -1):
    print(nombre, end=" ")

10 9 8 7 6 5 4 3 2 1

_Réponse..._

**(2)** Ecrire des lignes de code permettant d'afficher dans l'ordre décroissant tous les entiers pairs compris entre 10 et 50.